on init
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"

on boot
    # Mount vendor_dlkm dynamically so the recovery can read the panel modules
    mount erofs loop@ /dev/block/mapper/vendor_dlkm /vendor_dlkm || mount erofs /dev/block/by-name/vendor_dlkm /vendor_dlkm
    
    # Explicitly load FocalTech and core touch modules from the mounted path
    insmod /vendor_dlkm/lib/modules/ft8057p_spi.ko
    insmod /vendor_dlkm/lib/modules/lct_tp.ko
    insmod /vendor_dlkm/lib/modules/touch_boost.ko
    insmod /vendor_dlkm/lib/modules/mtk_ioctl_touch_boost.ko
    exec u:r:recovery:s0 -- /system/bin/sh -c "dmesg > /tmp/insmod_debug.log"
